---
interface Props {
  question: string;
}

const { question } = Astro.props;
---

<details class="group border border-gray-300 rounded-lg">
  <summary class="flex justify-between items-center font-medium cursor-pointer p-4">
    <span class="font-semibold">{question}</span>
    <span class="transition group-open:rotate-180">
      <svg fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24"><path d="M6 9l6 6 6-6"></path></svg>
    </span>
  </summary>
  <div class="p-4 pt-0">
    <slot />
  </div>
</details>

<style>
  details {
    transition: all 0.1s ease-in-out;
  }
  
  details[open] {
    @apply bg-gray-50;
  }
  
  details[open] summary {
    @apply border-b border-gray-300;
  }
  
  summary::-webkit-details-marker {
    display: none;
  }
</style>